.nav {
    grid-area: nav;
    background-color: white;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    font-size: 30px;
    margin-left: 200px;
    border: 1px solid rgb(193, 193, 193);
  }

.nav__item {
    padding-top: 20px;
}

