.App {
  font-size: 20px;
  background-color: rgb(237, 238, 240);
  background-size: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "header header"
    "nav mainContent";
  grid-gap: 20px;
}

.app-wrapper-content {
  grid-area: mainContent;
  width: 80%;
  height: 100%;
}